body {
  margin: 0;
  padding: 2rem;
}
table {
  text-align: center;
  position: relative;
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 0.25rem;
}
tr.table-head th {
  background: grey;
  color: white;
}
th {
  background: white;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
